<a href="https://colab.research.google.com/github/yuukun123/Python/blob/master/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive

In [2]:
# Tùy chỉnh để hiển thị biểu đồ đẹp hơn
sns.set(style="whitegrid")

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# khai báo biến với file dữ liệu
data1 = "/content/drive/MyDrive/febrl3_UNSW_rep.csv"
df = pd.read_csv(data1)

In [5]:
# xem thông tin dữ liệu
print(df.info())
# xem những hàng đầu tiên
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5000 non-null   int64
 1   rec_id         5000 non-null   object
 2   given_name     4844 non-null   object
 3   surname        4921 non-null   object
 4   street_number  5000 non-null   int64
 5   address_1      4846 non-null   object
 6   address_2      4307 non-null   object
 7   suburb         4915 non-null   object
 8   postcode       5000 non-null   int64
 9   state          4915 non-null   object
 10  day            4845 non-null   float64
 11  month          4845 non-null   float64
 12  year           4845 non-null   float64
 13  match_id       5000 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 547.0+ KB
None
   Unnamed: 0      rec_id given_name   surname  street_number  \
0           0        1496   mitchell     green              7
1           1   552-dup-3     harley  mccarthy            177
2           2   988-dup-1   madeline     mason             54
3           3  1716-dup-1   isabelle       NaN             23
4           4        1213     taylor  hathaway              7

         address_1               address_2     suburb  postcode state  day  \
0    wallaby place                  delmar  cleveland      2119    sa  1.0
1    pridhamstreet                  milton    marsden      3165   nsw  1.0
2  hoseason street  lakefront retrmnt vlge  granville      4881   nsw  1.0
3    gundulu place               currin ga   utakarra      2193    wa  1.0
4   yuranigh court          brentwood vlge        NaN      4220   nsw  1.0

   month    year  match_id
0    1.0  1970.0      1496
1    1.0  1970.0       552
2    1.0  1970.0       988
3    1.0  1970.0      1716
4    1.0  1970.0      1213

In [28]:
# Giữ lại các dòng không chứa 'dup' trong rec_id
df_cleaned = df[~df['rec_id'].astype(str).str.contains('dup')]

display(df_cleaned)

,Unnamed: 0,rec_id,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,day,month,year,match_id,rec_id_base
0,0,1496,mitchell,green,7,wallaby place,delmar,cleveland,2119,sa,1.0,1.0,1970.0,1496,1496
4,4,1213,taylor,hathaway,7,yuranigh court,brentwood vlge,NaN,4220,nsw,1.0,1.0,1970.0,1213,1213
5,5,193,toby,webb,6,kent street,kersey' south,towradgi,3107,nsw,1.0,1.0,1970.0,193,193
17,17,729,andrew,klander,20,newman morris circuit,the willows,homebush,2285,vic,1.0,1.0,1970.0,729,729
19,19,1688,kasey,millar,0,burdekin avenue,crown allot,woollahra,4217,qld,1.0,1.0,1970.0,1688,1688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,4993,882,NaN,white,20,parker street,moy,calliope,4514,sa,1.0,1.0,1970.0,882,882
4994,4994,502,sarah,cionci,7,maccallum circuit,chateau royal,fish creek,6026,sa,1.0,1.0,1970.0,502,502
4995,4995,937,jack,campbell,169,marr street,rhosewyn,oakleigh,3356,vic,1.0,1.0,1970.0,937,937
4997,4997,1756,destynii,bowerman,12,halford crescent,sutton,nollamara,2431,qld,1.0,1.0,1970.0,1756,1756
4998,4998,1444,gianni,dooley,38,ashburton circuit,brentwood vlge,ryde,6025,qld,1.0,1.0,1970.0,1444,1444

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

df.to_csv('/content/drive/MyDrive/titanic.csv', index=False)

Mounted at /content/drive