<a href="https://colab.research.google.com/github/yuukun123/Python/blob/master/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive

In [4]:
# Tùy chỉnh để hiển thị biểu đồ đẹp hơn
sns.set(style="whitegrid")

In [10]:
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
# khai báo biến với file dữ liệu
data1 = "/content/drive/MyDrive/febrl3_UNSW_rep.csv"
df = pd.read_csv(data1)

In [12]:
# xem thông tin dữ liệu
print(df.info())
# xem những hàng đầu tiên
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5000 non-null   int64
 1   rec_id         5000 non-null   object
 2   given_name     4844 non-null   object
 3   surname        4921 non-null   object
 4   street_number  5000 non-null   int64
 5   address_1      4846 non-null   object
 6   address_2      4307 non-null   object
 7   suburb         4915 non-null   object
 8   postcode       5000 non-null   int64
 9   state          4915 non-null   object
 10  day            4845 non-null   float64
 11  month          4845 non-null   float64
 12  year           4845 non-null   float64
 13  match_id       5000 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 547.0+ KB
None
   Unnamed: 0      rec_id given_name   surname  street_number  \
0           0        1496   mitchell     green              7
1           1   552-dup-3     harley  mccarthy            177
2           2   988-dup-1   madeline     mason             54
3           3  1716-dup-1   isabelle       NaN             23
4           4        1213     taylor  hathaway              7

         address_1               address_2     suburb  postcode state  day  \
0    wallaby place                  delmar  cleveland      2119    sa  1.0
1    pridhamstreet                  milton    marsden      3165   nsw  1.0
2  hoseason street  lakefront retrmnt vlge  granville      4881   nsw  1.0
3    gundulu place               currin ga   utakarra      2193    wa  1.0
4   yuranigh court          brentwood vlge        NaN      4220   nsw  1.0

   month    year  match_id
0    1.0  1970.0      1496
1    1.0  1970.0       552
2    1.0  1970.0       988
3    1.0  1970.0      1716
4    1.0  1970.0      1213

In [16]:
new_df = df.dropna()

new_df.head(30)

,Unnamed: 0,rec_id,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,day,month,year,match_id
0,0,1496,mitchell,green,7,wallaby place,delmar,cleveland,2119,sa,1.0,1.0,1970.0,1496
1,1,552-dup-3,harley,mccarthy,177,pridhamstreet,milton,marsden,3165,nsw,1.0,1.0,1970.0,552
2,2,988-dup-1,madeline,mason,54,hoseason street,lakefront retrmnt vlge,granville,4881,nsw,1.0,1.0,1970.0,988
5,5,193,toby,webb,6,kent street,kersey' south,towradgi,3107,nsw,1.0,1.0,1970.0,193
7,7,1695-dup-3,lydia,mccattmhy,32,mckillop ecircuit,telemon orchards,corio,4670,nsw,1.0,1.0,1970.0,1695
9,9,1778-dup-1,dylan,zilm,17,blameycrescent,condinup,wattle glen,4211,vic,1.0,1.0,1970.0,1778
11,11,382-dup-0,isabella,vincent,16,wilshiredstreet,erinsavle,rose ay,6207,vic,1.0,1.0,1970.0,382
13,13,1671-dup-0,connor,shepherd,39,burnage place,rowethorpe,winstonhills,3183,nsw,1.0,1.0,1970.0,1671
14,14,1816-dup-1,natalia,gredn,358,macrossan crescent,newman medicajl centre,yagoona,2535,qld,1.0,1.0,1970.0,1816
15,15,459-dup-4,georgia,pettigrove,5,sinclair street,pinds,prairei,2478,nsw,1.0,1.0,1970.0,459
16,16,1881-dup-1,wilson,pitno,11,bousteadcircuit,jewells medical centre,granville,3161,qld,1.0,1.0,1970.0,1881
17,17,729,andrew,klander,20,newman morris circuit,the willows,homebush,2285,vic,1.0,1.0,1970.0,729
19,19,1688,kasey,millar,0,burdekin avenue,crown allot,woollahra,4217,qld,1.0,1.0,1970.0,1688
20,20,292-dup-0,keziah,parr,20,clift crecent,bro okvale,murphys rceek,2761,nsw,1.0,1.0,1970.0,292
21,21,834-dup-0,braecon,schuetz,122,howarth place,villa 19,alice springs,2028,vic,1.0,1.0,1970.0,834
22,22,1943-dup-0,nemesia,grifefn,10,derrington c rescent,hd curramulka,beechboro,2262,nsw,1.0,1.0,1970.0,1943
24,24,1706-dup-2,quilliam,ashleigh,57,bedford s treet,rosall,surrey hills,6525,nsw,1.0,1.0,1970.0,1706
25,25,462,jacqueline,daykin,21,mackie crescent,logan central plaza,pottsville beach,2213,qld,1.0,1.0,1970.0,462
28,28,1224,lily,thorpe,313,rivett place,thurlgona,mount gravatt,6104,wa,1.0,1.0,1970.0,1224
29,29,1561-dup-2,lary,slape,11,lamington street,rosehe ll,albany creek,6020,wa,1.0,1.0,1970.0,1561
30,30,1723-dup-1,joshua,linnell,2,lambrigg treet,craigie ela garden,rowville,3185,qld,1.0,1.0,1970.0,1723
31,31,1723,joshua,linnell,2,lambrigg street,craigie lea garden,balwyn north,3185,qld,1.0,1.0,1970.0,1723
32,32,182,sophie,grubb,36,furphy place,mid city centre,cottles bridge,5091,qld,1.0,1.0,1970.0,182
33,33,1781,john,slywka,33,gowrie court,boxwood vale,north ward,6014,tas,1.0,1.0,1970.0,1781
34,34,1614,alexandra,robson,4,brunswick circuit,keith payne hstl,mount sophia,5024,nsw,1.0,1.0,1970.0,1614
35,35,885,stella,chandler,50,ebden street,rosetta village,coffs harbour,6304,vic,1.0,1.0,1970.0,885
36,36,1690-dup-2,thomas,white,706,monaro crescent,birra billa,point lofsdale,2088,wa,1.0,1.0,1970.0,1690
37,37,1217-dup-0,hannah,bloomfield,7,ferguson circuit,crown allotment,oakden,7253,nsw,1.0,1.0,1970.0,1217
39,39,208,lauren,bradshaw,130,ashcroft crescent,upa cottages,stirling north,2198,vic,1.0,1.0,1970.0,208
41,41,799,sophie,nicolle,112,garling street,spring creek,kotara,4740,nt,1.0,1.0,1970.0,799

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

df.to_csv('/content/drive/MyDrive/titanic.csv', index=False)

Mounted at /content/drive