<a href="https://colab.research.google.com/github/yuukun123/Python/blob/master/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Tùy chỉnh để hiển thị biểu đồ đẹp hơn
sns.set(style="whitegrid")

In [29]:
data1 = "/content/medical/febrl3_UNSW_rep.csv"
df = pd.read_csv(data1)
print(df.info())
print(df.head())

display(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5000 non-null   int64
 1   rec_id         5000 non-null   object
 2   given_name     4844 non-null   object
 3   surname        4921 non-null   object
 4   street_number  5000 non-null   int64
 5   address_1      4846 non-null   object
 6   address_2      4307 non-null   object
 7   suburb         4915 non-null   object
 8   postcode       5000 non-null   int64
 9   state          4915 non-null   object
 10  day            4845 non-null   float64
 11  month          4845 non-null   float64
 12  year           4845 non-null   float64
 13  match_id       5000 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 547.0+ KB
None
   Unnamed: 0      rec_id given_name   surname  street_number  \
0           0        1496   mitchell     green              7
1           1   552-dup-3     harley  mccarthy            177
2           2   988-dup-1   madeline     mason             54
3           3  1716-dup-1   isabelle       NaN             23
4           4        1213     taylor  hathaway              7

         address_1               address_2     suburb  postcode state  day  \
0    wallaby place                  delmar  cleveland      2119    sa  1.0
1    pridhamstreet                  milton    marsden      3165   nsw  1.0
2  hoseason street  lakefront retrmnt vlge  granville      4881   nsw  1.0
3    gundulu place               currin ga   utakarra      2193    wa  1.0
4   yuranigh court          brentwood vlge        NaN      4220   nsw  1.0

   month    year  match_id
0    1.0  1970.0      1496
1    1.0  1970.0       552
2    1.0  1970.0       988
3    1.0  1970.0      1716
4    1.0  1970.0      1213

,Unnamed: 0,rec_id,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,day,month,year,match_id
0,0,1496,mitchell,green,7,wallaby place,delmar,cleveland,2119,sa,1.0,1.0,1970.0,1496
1,1,552-dup-3,harley,mccarthy,177,pridhamstreet,milton,marsden,3165,nsw,1.0,1.0,1970.0,552
2,2,988-dup-1,madeline,mason,54,hoseason street,lakefront retrmnt vlge,granville,4881,nsw,1.0,1.0,1970.0,988
3,3,1716-dup-1,isabelle,NaN,23,gundulu place,currin ga,utakarra,2193,wa,1.0,1.0,1970.0,1716
4,4,1213,taylor,hathaway,7,yuranigh court,brentwood vlge,NaN,4220,nsw,1.0,1.0,1970.0,1213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,937,jack,campbell,169,marr street,rhosewyn,oakleigh,3356,vic,1.0,1.0,1970.0,937
4996,4996,1200-dup-0,william,lazaroff,12,leah ylose,milwlood,forbes,7256,qld,NaN,NaN,NaN,1200
4997,4997,1756,destynii,bowerman,12,halford crescent,sutton,nollamara,2431,qld,1.0,1.0,1970.0,1756
4998,4998,1444,gianni,dooley,38,ashburton circuit,brentwood vlge,ryde,6025,qld,1.0,1.0,1970.0,1444
4999,4999,993-dup-0,jake,westbrook,231,booroondar a street,jodayne,salisbury east,2074,nsw,1.0,1.0,1970.0,993

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

df.to_csv('/content/drive/MyDrive/titanic.csv', index=False)

Mounted at /content/drive